<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>CCTV Camera Management</h1>
    </header>
    <nav>
        <ul class="nav-links">
            <li><a href="/configure_camera">Configure Camera</a></li>
            <li><a href="/upload_model">Upload Model</a></li>
            <li><a href="/assign_models">Assign Models</a></li>
            <li><a href="/administration">Attendance System</a></li>
        </ul>
    </nav>


    <footer>
        <p>&copy; 2024 CCTV Manager. All Rights Reserved.</p>
    </footer>

    <script>
        function closePopup() {
            $('#unauthorized-popup').hide();  // Close the popup
        }
    </script>
</body>
</html>
